* {
    border: none;
    border-radius: 0;
    font-family: "monospace";
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    background: none;
    color: white;
    margin: 0;
}

#window {
    font-weight: bold;
    font-family: "monospace";
}

#workspaces button {
    padding: 5 5px;
    background: transparent;
    color: #fdf6e3;
}
#workspaces button.focused {
    color: #268bd2;
}
#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
    background: #64727D;
}

.modules-left,
.modules-center,
.modules-right {
	background: #282a36;
	border-radius: 4px;
	margin: 0;
	padding: 0;
}

/* Base styling for modules */
#workspaces,
#mode,
#window,
#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#clock,
#battery,
#backlight,
#disk,
#custom-separator,
#custom-shutdown,
#custom-reboot,
#custom-covid,
#taskbar,
#tray {
	padding: 2px 10px 0 10px;
}

#custom-separator {
	opacity: 0;
	padding: 0px;
}

#battery icon {
    color: red;
}
#battery.charging {
}
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #859900;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
	color: red;
}

#pulseaudio.muted {
}
